<script>
    let post = <%- JSON.stringify(post)  %>
    console.log(post)
    
</script>

<h1>Bem vindo</h1>
<p>Autor: <%- (post.Usunome)  %></p>
<p>Titulo: <%- (post.posTitu)  %></p>
<p>Texto: <%- (post.PosCont)  %></p>
<p>Data de Postagem: <%- (post.PosData)  %></p>

