<style>
    h2{
    font-weight: bold;
    }

    p{
        font-size: large;
    }

</style>

<script>
    let post = <%- JSON.stringify(post)  %>
    console.log(post)
</script>

<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:#EFD39F;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="bordado">
                <% if ((!usuario) || ((usuario.idUsu) != (post.idUsu))) {%>
                        <div style="padding: 10px;" class="row">
                            <div class="col-sm-8">
                                <h2><%- (post.posTitu) %></h2> 
                            </div>
                            
                            <div class="col-sm-4">
                                <p>Autor: <%- (post.Usunome)  %></p>
                            </div>
                        </div>
                        <p style="text-align: center; min-height: 140px;"><%- (post.PosCont) %></p>
                        <p style="margin-top: 10px;">Data de Postagem: <%- (post.PosData)  %></p>
                <% } else { %>
                    <% if ((usuario.idUsu) == (post.idUsu)){ %>
                        <div class="row">
                            <div class="col-sm-8" style="align-content: start;">
                                <textarea id="editTitu" maxlength="45" style="height: 30px; font-size: larger; font-weight: bold; margin-top: 10px;"><%- (post.posTitu) %></textarea>  
                            </div>
                            <div class="col-sm-4">
                                <p style="display: inline;">Autor: <%- (post.Usunome)  %></p>
                                <button  style="display: inline;" onclick="enviaEdit()" class="bota btn" type="button">Editar</button>
                            </div>
                        </div>
                        <textarea name="" id="editTexto" style="min-width: 90%; min-height: 140px; margin-top: 10px;" ><%- (post.PosCont) %> </textarea>
                        <p style="margin-top: 10px;">Data de Postagem: <%- (post.PosData)  %></p>
                        <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script>
    <% if (usuario) {%>
        <% if ((usuario.idUsu) == (post.idUsu)) { %>
                async function enviaEdit(){
                    let titu = document.getElementById("editTitu").value.normalize().trim();
                    let texto = document.getElementById("editTexto").value.normalize().trim();

                    let post = {
                        idPost:  <%- (post.idPost) %>,
                        posTitu: titu,
                        posCont: texto,
                        posView: 0,
                        posData: "a",
                        idUsu: <%- (post.idUsu) %>
                    };

                    try {
                        let response = await fetch("/editarPost", {
                            method: "POST",
                            body: JSON.stringify(post),
                            headers: {
                                "content-type": "application/json"
                            }
                        });
                        console.log(response.body)
                        console.log(response.status)
                        if (!response.ok) {
                            console.log("Ocorreu um erro ao se criar o post.");
                            Swal.fire({
                                title: "Oops..☠☠☠ ",
                                text: "Ocorreu um erro ao editar post",
                                icon: "error",
                                confirmButtonColor: "whitesmoke"
                            });
                            return;
                        }
                        Swal.fire({
                            title: "Parabéns!",
                            text: "Post editado com sucesso!",
                            icon: "success",
                            confirmButtonColor: "#5aa621"
                        }).then(() => {
                            window.location = "/forum"
                        });
                        console.log("Post editado com sucesso!");
                    }
                    catch (ex) {
                        Swal.fire({
                            title: "Oops...",
                            text: "Ocorreu um erro de rede ao editar o post: " + ex.message,
                            icon: "error",
                            confirmButtonColor: "#b73501"
                        });
                        console.log("Ocorreu um erro de rede ao editar o post " + ex.message);
                    }
                }
            
        <% } %>
    <% } %>
</script>
<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:black;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#EFD39F;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>