<script>
    let post = <%- JSON.stringify(post)  %>
    console.log(post)
</script>

<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:#39aeed;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="bordado">
                <%- if (usuario.idUsu) == (post.idUsu) { %>

                    <div class="row">
                        <div class="col-sm-3">
                            <input id="editTitu" type="text">  
                        </div>
                        <div class="col-sm-6"></div>
                        <div class="col-sm-3">
                            <p>Autor: <%- (post.Usunome)  %></p>
                            <button onclick="enviaEdit()" class="bota" type="button">Editar</button>
                        </div>
                    </div>
                    <textarea name="" id="editTexto"></textarea>
                    <p>Data de Postagem: <%- (post.PosData)  %></p>

                <%- } else { %>

                    <div class="row">
                        <div class="col-sm-3">
                            <h2><%- (post.posTitu) %></h2> 
                        </div>
                        <div class="col-sm-6"></div>
                        <div class="col-sm-3">
                            <p>Autor: <%- (post.Usunome)  %></p>
                        </div>
                    </div>
                    <p><%- (post.PosCont) %></p>
                    <p>Data de Postagem: <%- (post.PosData)  %></p>

                <%- } %>
            </div>
        </div>
    </div>
</div>

<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:black;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#39aeed;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>

<%- if (usuario.idUsu) == (post.idUsu) { %>
    <script>
        function carregaInput(){
            let tituArea = document.getElementById("editTitu");
            let textArea = document.getElementById("editTexto");

            let titulo = <%- (post.posTitu)  %>;
            let texto = <%- (post.PosCont)  %>;

            tituArea.value = titulo;
            textArea.value = texto;
        }
        function enviaEdit(){
            let titu = document.getElementById("editTitu").value.normalize().trim();
            let texto = document.getElementById("editTexto").value.normalize().trim();

            let post = {
                idPost:  <%- post.idPost %>,
                posTitu: titu,
                posCont: texto,
                posView: 0,
                posData: "a",
                idUsu: <%- post.idUsu %>
            };

            try {
                let response = await fetch("/editarPost", {
                    method: "POST",
                    body: JSON.stringify(post),
                    headers: {
                        "content-type": "application/json"
                    }
                });
                console.log(response.body)
                console.log(response.status)
                if (!response.ok) {
                    console.log("Ocorreu um erro ao se criar o post.");
                    Swal.fire({
                        title: "Oops..☠☠☠ ",
                        text: "Ocorreu um erro ao editar post",
                        icon: "error",
                        confirmButtonColor: "whitesmoke"
                    });
                    return;
                }
                Swal.fire({
                    title: "Parabéns!",
                      text: "Post editado com sucesso!",
                      icon: "success",
                      confirmButtonColor: "#5aa621"
                }).then(() => {
                    window.location = "/forum"
                });
                console.log("Post editado com sucesso!");
            }
            catch (ex) {
                Swal.fire({
                    title: "Oops...",
                    text: "Ocorreu um erro de rede ao editar o post: " + ex.message,
                    icon: "error",
                    confirmButtonColor: "#b73501"
                });
                console.log("Ocorreu um erro de rede ao editar o post " + ex.message);
            }
        }
        carregaInput()
    </script>
<% } %>

<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:black;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#39aeed;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>